@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  width: 100%;
}

//네비바
.NavBar {
  .navbar-brand{
    color: white;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    
  }

  .nav-link{
    color: black;
  }
  .offcanvas-title{
    color: black;
  }

  .logbutton {
    padding-top: 30px;
    font-size: 13px;
    border: none;
    background-color: white;
  }
}

// 홈페이지 /
.HomePage {
  img {
    margin-top: 90px;
    width: 50%;
  }

  // 홈페이지 - 버튼 컴포넌트 애니메이션
  @keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
  }
  button {
    margin: 50px;
  }

  .w-btn {
    position: relative;
    border: none;
    min-width: 150px;
    min-height: 50px;
    background: #ef473a; 
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;
    
    &reg {
      background: #2C5364;      
    }

    &intro {
      background: #545ca0;
    }

    &:hover {
      transform: scale(1.2);

      &:after {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 100%;
        border: 6px solid #e07e21;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
      }
    }
  }
}

//메인 페이지 /main
.Main {
  text-align: center;
  background-color: black;
  height: 100vh;
  align-items: center;

  img {
    margin-top: 10px;
    border: rgb(235, 235, 235) 3px solid;
    height: 60%;
    
  }
  

  input {
    margin-top: 60px;
    width: 80%;
    height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    border: black 1px solid;
  }

  h3 {
    margin-top: 60px;
    text-align: left;
  }

  h5 {
    font-size: 16px;
    margin-top: 10px;
  }

  .wrap {
    max-width: 1000px;
    min-height: 100%;
    vertical-align: middle;
    margin: 0 auto;
  }

}

//회원가입 페이지 /register
.Register {
  background-color: black;
  height: 100%;
  align-items: center;
  

  h1 {
    padding-bottom: 25px;
  }

  img {
    width: 60%;
  }
  .wrap {
    max-width: 700px;
    min-height: 100%;
    margin: 0 auto;
    background: #fff;
    vertical-align: middle;
  }

  .container {
    background-color: white;
    color: black;
    border: solid 2px white;
    padding: 50px;
    
  }

  input{
    text-align: center;
    width: 70%;
    margin-left: 15%; 
  }
  
  .btn {
    margin: 10px;
  }
}

//로그인 페이지 /login
.Login {
  background-color: black;
  height: 100%;
  align-items: center;

  .container {
    background-color: white;
    color: black;
    padding: 50px;
  }

  .wrap {
    max-width: 700px;
    min-height: 100%;
    margin: 0 auto;
    background: #fff;
    vertical-align: middle;
  }

  h1{
    margin-top: 30px;
  }
  
  img {
    width: 60%;
  }
  
  .login-section {
    min-height: 402px;
    padding: 0;
    margin-top: 60px;
    display: inline-block;
    

    input {
      margin-top: 10px;
    }

    button {
      margin-top: 30px;
    }
  } 
}

