.App {
  text-align: center;
  width: 100%;
  
}
// 홈페이지 /
.HomePage {
  img {
    margin-top: 90px;
    width: 50%;
  }

  // 홈페이지 - 버튼 컴포넌트 애니메이션
  @keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 150px;
        height: 150px;
        opacity: 0;
    }
  }
  button {
    margin: 50px;
  }

  .w-btn {
    position: relative;
    border: none;
    min-width: 150px;
    min-height: 50px;
    background: linear-gradient(to right, #cb2d3e, #ef473a); 
    border-radius: 1000px;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 12px #cb2d3e;
    font-weight: 700;
    transition: 0.3s;
    
    &reg {
      background: linear-gradient(to right, #0575E6, #021B79);
      box-shadow: 5px 5px 12px #021B79;
      
    }

    &intro {
      background: linear-gradient(to right, #C33764, #1D2671);
      box-shadow: 5px 5px 12px #C33764; 
    }

    &:hover {
      transform: scale(1.2);

      &:after {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 100%;
        border: 6px solid #A7BFE8;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: ring 1.5s infinite;
      }
    }
  }
}


//회원가입 페이지 /register
.Register {
  padding-top: 50px;
  background-color: black;
  height: 100vh;
  
}

//로그인 페이지 /login
.Login {
  padding-top: 50px;
  background-color: black;
  height: 100vh;
  text-align: center;

  input {
    width: 50%;
  }
  
}

